doctype html
html
  head
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width")
    link(href="/css/site.css", rel="stylesheet" type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Oxygen:400,700" rel="stylesheet" type="text/css") 
    block title
      title= snowthorn
  body
    header
      h1 
        a(href="/", class="homelink") <sup>*</sup>
        = post.title.toLowerCase()
        | .
      h3= post.date.toDateString()
      
               
    .content
      p.quote= post.quote
      p!= post.content